.answer {
    padding: 10px 5px;
    display: grid;
    grid-template-columns: auto 15% 20%;

    &:not(:last-child) {
        border-bottom: 1px solid var(--foreground);
    }

    &__name {
        display: flex;
        gap: 10px;
        align-items: center;

        width: max-content;

        font-family: inherit;
        font-size: 14px;
        padding: 5px;
        text-align: start;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    &__name_edit {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 10px;
    }

    &__name-input {
        width: 100%;
        font-family: inherit;
        font-size: 14px;
        padding: 4px;
        border: 1px solid var(--foreground);
        border-radius: 5px;
    }

    &__correct-item {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    &__correct-button {
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: transparent;
        border: none;
        border-radius: 100%;

        cursor: pointer;

    }

    &__settings {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20%;

    }

    &__edit {
        display: flex;

        justify-content: start;
        align-items: center;
        border: none;
        background: transparent;
        cursor: pointer;
    }

    &__del {
        cursor: pointer;
    }
}