.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.5);



    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(calc(-50% + 135px), -50%);

        width: 75vw;
        height: 95vh;

        display: flex;
        flex-direction: column;

        background-image: url("../../../public/modalBg.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        border-radius: 10px;


        z-index: 100;

    }
}