@use "../styles/mixins";
@use "../styles/typography";
@use "../styles/Form.module.scss";
@use "../components/Nav/Nav.module.scss";
@use "../components/Slider/Slider.module.scss";
@use "../components/MyLayout/MyLayout.module.scss";

.container {
    padding-left: 32px;
    padding-right: 32px;
}

:root {
    --background: #ffffff;
    --foreground: #171717;
    --color-gray: rgba(179, 179, 179, 1);
    --red: rgba(219, 38, 38, 1);
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--foreground);
    background: var(--background);

    font-family: var(--font-family-inter);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}