.question {
    padding: 10px 5px;
    display: grid;
    grid-template-columns: auto 20%;

    &:not(:last-child) {
        border-bottom: 1px solid var(--foreground);
    }

    &__name {
        font-family: inherit;
        font-size: 14px;
        padding: 5px;
        text-align: start;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    &__settings {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20%;

    }

    &__edit {
        cursor: pointer;
    }

    &__del {
        cursor: pointer;
    }
}