.modal-window {
    position: fixed;
    inset: 100px 200px;

    background-image: url("../../../public/modalBg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 10px;

    overflow: hidden;
}